<!DOCTYPE html>
<!--[if IE 8]>
<html lang="{{ app.request.locale }}" class="ltie9"><![endif]-->
<!--[if IE 9]>
<html lang="{{ app.request.locale }}" class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html lang="{{ app.request.locale }}"> <!--<![endif]-->
<head>
	<title>{% block title %}{{ cameleon.project_title }}{% endblock %}</title>
	{% block meta %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block meta_og %}{% endblock %}
		<meta name="description" content="{% block meta_description %}{% endblock %}">
	{% endblock %}

	{% block stylesheets %}
		{% block stylesheet_bootstrap %}
			{% if not cameleon.bootstrap.use_cdn or app.debug %}
				<link href="{{ asset('bundles/esbase/css/bootstrap.min.css') }}" rel="stylesheet">
			{% else %}
				<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
			{% endif %}
		{% endblock %}
		{% for src in get_css_includes() %}
			<link href="{{ src }}" rel="stylesheet">
		{% endfor %}
	{% endblock %}

	{% block javascript_head %}
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		{% if not cameleon.bootstrap.use_cdn or app.debug %}
		<script src="{{ asset('bundles/esbase/js/jquery.min.js') }}"></script>
		{% else %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		{% endif %}
		<script>
			{# Cameleon init #}
			(function ($) {
				$.fn.cameleonReady = function (fn) {
					return this.on('cameleon-ready', fn);
				};
				$(document).ready(function () {
					$(document).trigger('cameleon-ready');
				});
			})(jQuery);
		</script>
	{% endblock %}
</head>
<body{% block body_attr %}{% endblock %}>
{% block body %}
{% endblock %}

{% block javascripts_bottom %}
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	{% if not cameleon.bootstrap.use_cdn or app.debug %}
		<script src="{{ asset('bundles/esbase/js/bootstrap.min.js') }}"></script>
	{% else %}
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	{% endif %}
{% endblock %}
{% for src in get_js_includes() %}
	<script src="{{ src }}"></script>
{% endfor %}
{{ get_js_code() }}
{% block google_analytics %}
	{% if cameleon.google_analytics_enabled %}
		{% include 'ESBaseBundle:GoogleAnalytics:main_tracker.html.twig' %}
	{% endif %}
{% endblock %}
{% block javascript_footer %}
{% endblock %}
</body>
</html>